<nav class="menu" role="nav">
    <ul>
      <li><a href=""><a href="http://twitter.com/iamioannis">Twitter</a></li>
      <li><a href="">Item Two</a></li>
      <li><a href="">Item Three</a></li>
    </ul>
</nav>
